<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lishuyiba博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/js/jquery-2.2.4.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-markdown/js/bootstrap-markdown.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">首页</a>
                    <a class="navbar-brand" href="#">文章</a>
                    <a class="navbar-brand" href="#">归档</a>
                    <a class="navbar-brand" href="#">关于</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="text-center">
        <p>&copy; 2017 - lsy</p>
    </footer>
</body>
</html>